<a href="https://colab.research.google.com/github/shlnvt/shlnvt_myskill_pythonfundamental_portofolios/blob/main/String_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What is String?

In [1]:
"myskill" or 'myskill'

'myskill'

In [2]:
print("myskill providing course"[0])

m

#Create String

In [7]:
# creating a string
# with single quotes
string1 = 'Welcome to myskill'
print("String with the use of single quotes: ")
print(string1)

# creating a string
# with double quotes
string1 = "I'm Shen"
print("\nString with the use of double quotes: ")
print(string1)

# creating a string
# with triple quotes
string1 = '''I'm myskill student and I develop "skill"'''
print("\nString with the use of triple quotes: ")
print(string1)

# creating string with triple
# quotes allows multiple lines
string1 = '''Myskill
              for
              life'''
print("\nCreating a multiple string: ")
print(string1)

String with the use of single quotes:
Welcome to myskill

String with the use of double quotes:
I'm Shen

String with the use of triple quotes:
I'm myskill student and I develop "skill"

Creating a multiple string:
Myskill
              for
              life

#Access character in python string

In [11]:
string1 = 'MySkill'
print("Initial string: ")
print(string1)

# printing first character
print("\nFirst character of string in: ")
print(string1[0])

# printing last character
print("\nLast character of string in: ")
print(string1[-1])

Initial string:
MySkill

First character of string in:
M

Last character of string in:
l

#Reverse String

In [14]:
#program to reverse a string
msk = "myskill"
print(msk[::-1])

lliksym

In [15]:
msk = "myskill"

# reverse the string using reversed and join function
msk = "".join(reversed(msk))

print(msk)

lliksym

#String Slicing

In [19]:
# creating a string
string1 = "MySkill"
print("Initial String: ")
print(string1)

#printing 3rd to 12th character
print("\nString character from 3-12: ")
print(string1[3:7])

#printing character between
# 3rd and 2nd last character
print("\nSlicing character between " +
      "3rd and 2nd last character: ")
print(string1[3:-1])

Initial String:
MySkill

String character from 3-12:
kill

Slicing character between 3rd and 2nd last character:
kil

#Delete and Update String

##Update character

In [23]:
# python program to update
# character of a string

string1 = "Hello, I'm MySkill student"
print("Initial string: ")
print(string1)

# updating a character of the string
## as pythin strings are immutable, they don't support item updation directly
### there are following two ways
#1
list1 = list(string1)
list1[2] = 'p'
string2 = ''.join(list1)
print("\nUpdating character at 2nd index: ")
print(string2)

#2
string3 = string1[0:2] + 'k' + string1[3:]
print(string3)

Initial string:
Hello, I'm MySkill student

Updating character at 2nd index:
Heplo, I'm MySkill student
Heklo, I'm MySkill student

##Update entire string

In [25]:
string1 = "Hello, I'm Shen"
print("Initial string: ")
print(string1)

# updating a string
string1 = "Welcome to myskill"
print("\nUpdated string: ")
print(string1)

Initial string:
Hello, I'm Shen

Updated string:
Welcome to myskill

##Delete character

In [27]:
string1 = "Hello, welcome to myskill"
print("Initial string: ")
print(string1)

# deleting a character
# of the string
string2 = string1[0:2] + string1[3:]
print("\nDeleting character at 2nd index: ")
print(string2)

Initial string:
Hello, welcome to myskill

Deleting character at 2nd index:
Helo, welcome to myskill

##Delete entire string

In [29]:
string1 = "Welcome to myskill"
print("Initial string: ")
print(string1)

# deleting a string
# with the use of del
del string1print("\nDeleting entire string: ")
print(string1)

SyntaxError: ignored

#Escape sequence in python

In [37]:
# initial string
string1 = '''I'm "smart"'''
print("Initial string with use of triple quotes: ")
print(string1)

# escaping single quote
string1 = 'I\'m "smart"'
print("\nEscaping single quote: ")
print(string1)

# escaping double quote
string1 = "I'm \"smart\""
print("\nEscaping double quotes: ")
print(string1)

# printing paths with the
# use of escape sequence
string1 = "C:\\Python\\MySkill\\"
print("\nEscaping backslashes: ")
print(string1)

# printing paths with the
# use of tab
string1 = "Hi\tSmartGuy"
print("\nTab: ")
print(string1)

# printing paths with the
# use of new line
string1 = "Python\nMySkill"
print("\nNew line: ")
print(string1)

Initial string with use of triple quotes:
I'm "smart"

Escaping single quote:
I'm "smart"

Escaping double quotes:
I'm "smart"

Escaping backslashes:
C:\Python\MySkill\

Tab:
Hi	SmartGuy

New line:
Python
MySkill

#Formatting in string

In [40]:
# default order
string1 = "{} {} {}".format('MySkill', 'For', 'Learning')
print("Print string in default order: ")
print(string1)

# positional formatting
string1 = "{1} {0} {2}".format('MySkill', 'For', 'Learning')
print("\nPrint string in positional order: ")
print(string1)

# keyword formatting
string1 = "{l} {f} {g}".format(g='MySkill', f='For', l='Learning')
print("\nPrint string in order of keywords: ")
print(string1)

Print string in default order:
MySkill For Learning

Print string in positional order:
For MySkill Learning

Print string in order of keywords:
Learning For MySkill

In [43]:
# formatting of integers
string1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(string1)

# formatting of floats
string1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(string1)

# rounding off integers
string1 = "{0:.2f}".format(1/6)
print("\none-sixth is: ")
print(string1)

Binary representation of 16 is
10000

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is:
0.17

In [46]:
# string aligment
string1 = "|{:<10}|{:^10}|{:>10}".format('MySkill', 'For', 'Learning')
print("\nLeft, center and right aligment with formatting: ")
print(string1)

# to demonstrate aligning of spaces
string1 = "\n{0:^16} was founded in {1:<4}".format("MySkillForLearning",
                                                   2021)
print(string1)

Left, center and right aligment with formatting:
|MySkill   |   For    |  Learning

MySkillForLearning was founded in 2021

In [47]:
integer1 = 12.3456789
print("Formatting in 3.2f format: ")
print('The vale of integer1 is %3.2f' % integer1)
print("\nFormatting in 3.4f format: ")
print('The value of integer1 in %3.4f' % integer1)

Formatting in 3.2f format:
The vale of integer1 is 12.35

Formatting in 3.4f format:
The value of integer1 in 12.3457